*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

input{
    -webkit-appearance: none;
}

body{
    width: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.header{
    width: 100%;
    min-height: 100vh;
    color: #000;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.background_1,.background_2{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.nav_bar_top{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
    z-index: 9999;
    position: absolute;
}

.nav.active{
    position: fixed;
    right: 95px;
    top: 50px;
}

.logoContainer{
    width: 75px;
    height: 75px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.logoContainer .logoImg{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}

.hamburger_container{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s ease-in-out;
}

.hamburger{
    width: 40px;
    height: 5px;
    border: none;
    border-radius: 10px;
    background: var(--hamburger);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.hamburger::after{
    content: '';
    display: block;
    background: var(--hamburger);
    border-radius: 10px;
    width: 40px;
    height: 5px;
    transform: translateY(-20px); 
    transition: all 0.3s ease-in-out;
}

.hamburger::before{
    content: '';
    display: block;
    background: var(--hamburger);
    border-radius: 10px;
    width: 40px;
    height: 5px;
    transform: translateY(15px);
    transition: all 0.3s ease-in-out;
}

.hamburger_container.active .hamburger::after{
    transform: rotate(45deg) translate(32px, -38px);
}

.hamburger_container.active .hamburger {
    background: transparent;
    transform: translateX(-50px);
}

.hamburger_container.active .hamburger::before{
    transform: rotate(-45deg) translate(35px, 35px);
}


.header_content{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    max-width: 2100px;
    width: 100%;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 250px;
}

.header_left_side{
    width: 100%;
    margin-top: 100px;
    margin-right: 25px;
}

.header_mini-text{
    font-size: 28px;
    font-weight: normal;
    background: -webkit-linear-gradient(45deg,#884278, #547CDE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_max-text{
    color: #1A1B1E;
    font-weight: 600;
    font-size: 54px;
    max-width: 500px;
}

.header_right_side{
    margin-left: 25px;
    width: 100%;
    max-width: 475px;
    display: flex;
    justify-content: end;
    height: 500px;
}

.header_illustration,.about_illustration{
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.modal_menu{
    width: 250px;
    min-height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease-in-out;
    box-shadow: 0px 3px 25px rgba(187, 187, 187, 0.3);
}

.modal_menu.active{
    transform: translateX(0);
}

.nav_ul{
    list-style: none;
    font-size: 32px;
    overflow: hidden;
}

.nav_li{
    overflow: hidden;
}

.nav_a{
    color: #1A1B1E;
    font-weight: 500;
    cursor: pointer;
    transition: color .3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.nav_a::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #254699;
    transition: width .3s ease-in-out;
}

.nav_a:hover::after{
    width: 100%;
}

.nav_a:hover{
    color: #254699;
}

.modal_exit{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: transparent;
}