@import url('BebasNeue-Regular.otf');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

:root {
    scrollbar-color: rgb(210, 210, 210) #1a1b1e !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 7px !important;
}

::-webkit-scrollbar-track {
    background: #1a1b1e !important;
}

::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210) !important;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(210, 210, 210, .7) !important;
}

body,html {
    font-family: 'Catamaran', sans-serif;
    background-color: #fff;
}

.menu_hamburger {
    display: none;
}

.menu {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-out .5s;
}

.menu .logo {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.7rem;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 3px #000000;
    transition: color .5s ease-in-out;
}

.menu .logo:hover {
    color: #bababa;
}

.menu .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu .nav .nav_menu {
    margin-left: 35px;
    overflow: hidden;
}

.menu .nav .nav_menu .nav_menu_a {
    text-decoration: none;
    color: white;
    transition: all ease .3s;
    position: relative;
    cursor: pointer;
}

.menu .nav .nav_menu .nav_menu_a:hover::after{
    transform: translate(0%);
}

.menu .nav .nav_menu .nav_menu_a::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0px;
    height: 2px;
    left: 0;
    transform: translateX(-100%);
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
}

.menu .m_active {
    border-bottom: 1px solid #ffffff;
}

.active_menu {
    background: #1a1b1e;
    height: 50px;
    box-shadow: 0px 0px 10px 0px #000000;
}

.heading {
    background: url("img/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.heading .ani {
    animation: blink 0.8s steps(2, start) infinite;
    user-select: none;
}

.heading .main_heading_text {
    
    font-size: 4rem;
    letter-spacing: 8px;
    white-space: pre;
    color: white;
    z-index: 2;
    font-family: 'Bebas Neue', cursive;
}

.heading .sec_text {
    color: white;
    font-size: rem;
    letter-spacing: 10px;
    white-space: pre;
    font-weight: 400;
}

.arrow {
    margin: auto;
    transition: transform .5s ease-in-out;
    color: white;
    font-size: 3rem;
    position: absolute;
    bottom: 5%;
}

.arrow:hover {
    transform: translateY(10px);
}

.main {
    -webkit-box-shadow: 0 -10px 10px 1px #1a1a1a;
    box-shadow: 0 -10px 10px 1px #1a1a1a;
    overflow: hidden;
    background: #1a1a1a;
    min-height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main_content_about {
    width: 100%;
    margin: auto;
    color: #1a1a1a;
    background-color: #ffffff;
    min-height: 50vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    padding: 60px 0px;
}

.main_content_about .name{
    font-size: 3rem;
}

.my_desc{
    font-size: 1.2rem;
    padding: 40px 0px;
    width: 50%;
    text-align: justify;
}

.my_desc:first-letter{
    color: #2f3640;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 6px;
    padding-right: 8px;
}

.main_content_projects {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_about{
    position: absolute;
    bottom: 85%;
    width: 80%;
    height: 200px;
    margin: auto;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.10);
}

.project_all{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.name_portfolio{
    font-size: 3rem;
    text-align: center;
    color: #1a1a1a;
    padding: 50px;
}

.swiper-container{
    height: 500px;
    user-select: none;
}

.swiper-slide{
    text-align: center;
}

.sliderPhoto{
    object-fit: cover;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.10);
}

.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev{
    color: #000000;
    transition: all .3s ease-in-out;
}

.swiper-container .swiper-button-next::after,.swiper-container .swiper-button-prev::after{
    font-size: 24px;
}

.swiper-container .swiper-button-next:hover,.swiper-container .swiper-button-prev:hover{
    color: #c0c0c0;
    background: #000000;
}
.swiper-container .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    opacity: .4s;
}
.swiper-container .swiper-pagination-bullet-active{
    background: #1a1b1e;
}


.pulse:hover {
    -webkit-animation-name: pulse;
    animation: pulse 1.5s infinite;
    cursor: default;
  }

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }


.contact_form {
    width: 100%;
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container_email,
.container_text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.contact_email,.contact_textarea {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #666;
    width: 300px;
    height: 30px;
    color: white;
    font-size: 13px;
    padding-top: 2px;
    padding-left: 2px;
}

.contact_textarea{
    resize: none;
    height: 120px;
}

.contact label {
    position: absolute;
    top: 5px;
    left: 0;
    transition: .5s;
    pointer-events: none;
    user-select: none;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label
{
    top: -13px;
    font-size: 12px;
    color: #DA4453;
}

.contact_email:focus,
.contact_email:not(:placeholder-shown),
.contact_textarea:focus{
    border-bottom: 1px solid #DA4453;
}

.contact_send{
    width: 200px;
    height: 35px;
    color: white;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 14px;
    transition: all .7s ease-in-out;
}
.contact_send:hover{
    background: white;
    color: black;  
    cursor: pointer;
}




.footer {
    overflow: hidden;
    width: 100%;
    height: 150px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .about .about_text2 {
    color: #666;
}

.footer .about .about_text {
    font-size: 1.2rem;
    color: white;
    top: 10px;
}

.hamburger,
.menu_hamburger,
.menu_mobile {
    display: none;
}

.page_up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .3s;
    animation: slideRight .7s both ease-in-out;
    display: none;
}

.page_up_btn{
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    overflow: hidden;
}
.page_up a{
    text-decoration: none;
}
.page_up_btn i{
    color: white;
    font-size: 38px;
    transition: transform .3s;
}

.page_up_btn:hover{
    background: #2c3e50;
}

.page_up_btn:hover i{
    transform: scale(1.2);
}



@keyframes slideRight{
    0%{
        transform: translateX(200%);
    }
    50%{
        transform: translateX(-40%);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}


@media (max-width: 768px) {
    .menu .nav {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
        cursor: pointer;
        width: 32px;
        border: 0;
        height: 30px;
        border-top: 5px solid white;
        background: transparent;
        transition: 0.3s transform linear;
        z-index: 999;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid white;
        transform: translateY(6px);
    }

    .hamburger::after {
        transform: translateY(17px);
        transition: 0.3s transform linear;
    }

    .hamburger:focus {
        outline: 0;
        background: none;
    }

    .hamburger.open {
        transform: rotate(45deg) translateY(10px);
        border: none;
    }

    .hamburger.open::after {
        border-top: 5px solid white;
        transform: rotate(-90deg) translateX(-6px);
    }

    .hamburger.open::before {
        border-top: 5px solid white;
    }

    .menu_hamburger {
        position: fixed;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        right: 0;
        top: 0;
        width: 350px;
        background-color: #1A1B1E;
        min-height: 100vh;
        width: 100%;
        z-index: 900;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_hamburger.start {
        transform: translateX(0%);
    }

    .menu_mobile {
        display: block;
    }

    .menu_hamburger .nav_mobile {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .menu_hamburger .nav_mobile .nav_mobile_a {
        text-decoration: none;
        color: white;
        font-size: 35px;
        transition: color .5s ease-in-out;
        margin-bottom: 5px;
        user-select: none;
    }

    .menu_hamburger .nav_mobile .nav_mobile_a:hover {
        color: #666;
    }

    .heading .main_heading_text{
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    .heading .sec_text{
        font-size: 1.2rem;
    }

    .main_content_about{
        min-height: 100vh;
    }

    .main_content_about .name{
        font-size: 2rem;
    }




    .main_content_about .my_desc{
        font-size: 1rem;
        
        width: 90%;
    }

    .page_up{
        visibility: hidden;
    }    

    .footer .about .about_text{
        font-size: 1rem;
    }


}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
    border-radius: 0%;
}

.btn_1 {
    overflow: hidden;
    position: relative;
    height: 50px;
    width: 200px;
    background: #3da9fc;
    transition: all .3s ease-in-out;
    color: white;
    font-size: 1.3rem;
    border: 2px solid #3da9fc;
    border-radius: 3px;
    cursor: pointer;
}

.btn_1:hover {
    background: transparent;
    box-shadow: 0 5px 15px -10px rgba(31, 18, 53, .6);
}

.btn_2{
    overflow: hidden;
    position: relative;
    height: 50px;
    width: 200px;
    background: transparent;
    border: 2px solid #3da9fc;
    color: white;
    font-size: 1.3rem;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    transition: all .3s ease-in-out;
} 

.btn_2:hover{
    background: #3da9fc;
    box-shadow: 0 5px 15px -10px rgba(31, 18, 53, .6);
}




/* loading */
.loading {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-color: #1a1b1e;
    z-index: 9999999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    animation: loading .3s 1s both ease-in-out;
}

.loading .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #89216B;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 2px solid #DA4453;
    background-color: transparent;
    transform: rotate(30deg);
    animation: loadingCircle 1.5s ease-in-out;
}

.loading .load {
    user-select: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loadingCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}