
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}

body,html{
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
}

.main_header{
    width: 100%;
    min-height: 100vh;
    background: url(../img/backgroundDark.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_nav{
    position: fixed;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 75px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .4);
}

.main_header .logo{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 24px;
    user-select: none;
}

.main_header .main_navigation{
    list-style: none;
    display: flex;
    margin-right: 50px;
}

.main_header .main_navigation .nav_a{
    text-decoration: none;
    color: #1a1a1a;
    margin-left: 20px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_header .main_navigation .nav_a:hover{
    color: #ffffff;
    background: #000000;
}

.main_btn{
    width: 280px;
    height: 50px;
    background: #84754e;
    color: #ffffff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .4);
    transition: all .3s ease-in-out;
    position: absolute;
    overflow: hidden;
    left: 182px;
    top: 560px;
}

.main_btn::before{
    content: '';
    position: absolute;
    display: block;
    width: 280px;
    height: 50px;
    transition: all .3s ease-in-out;
    background: #754c30;
    top: 0;
    z-index: -1;
    transform: translateX(-100%);
}

.main_btn:hover::before {
    transform: translateX(0%);
}

.main_btn:hover{
    z-index: 1;
}

.center_text{
    font-size: 80px;
    color: #fff;
    position: absolute;
    left: 175px;
    letter-spacing: 11px;
    text-shadow: 2px 2px 4px #2f2f2f;
    top: 175px;
    white-space: nowrap;
}

.main{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 50px;
    overflow: hidden;
    background-color: #ffffff;
}

.main .about_us .about_text{
    color: #1a1a1a;
    font-size: 24px;
    text-align: justify;
    text-align-last: center;
}

.photos{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photos .photos_row{
    
    justify-content: center;
}

.photos .photos_row img{
    width: 350px;
    height: 250px;
    margin: 20px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .2);
    object-fit: cover;
}
.photos .photos_row img:hover{
    transform: scale(120%);
}

.scroll{
    width: 100%;
    background-image: url(../img/photo01.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    overflow: hidden;
    color: #ffffff;
}
.scroll p{
    background-color: rgba(0, 0, 0, .5);
    padding: 180px 555px;
    text-transform: uppercase;
    white-space: nowrap;
}

.opinions{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
}
.client{
    font-size: 100px;
    margin-bottom: 10px;
}

.opinionList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: justify;
    width: 350px;
    height: 350px;
    margin: 10px;
    background-color: rgba(0, 0, 0, .1);
    padding: 20px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
}

.fb{
    color: royalblue;
    font-size: 64px;
    margin: 20px;
    text-decoration: none;
}

.community{
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.whatsapp{
    color: #25D366;
    font-size: 64px;
    margin: 20px;
    text-decoration: none;
}

.phone{
    color: #34B7F1;
    font-size: 64px;
    margin: 20px;
    text-decoration: none;
}
.community i{
    transition: transform .3s ease-in-out;
}

.fb i:hover, .whatsapp i:hover, .phone i:hover{
    transform: rotate(10deg);
}

.page_up{
    position: fixed;
    display: none;
    right: 50px;
    bottom: 30px;
    width: 48px;
    background: #1a1a1a;
    border-radius: 50%;
    height: 48px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    animation: arrow .7s both ease-in-out;
}

.page_up a{
    font-size: 32px;
    height: 48px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .6s ease-in-out;
}

.page_up:hover{
    background: #3f3e3e;
    
}
.page_up a:hover{
    transform: rotate(360deg)
}

footer{
    width: 100%;
    height: 50px;
}
.footer_all{
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text{
    color: #ffffff;
}

.footer_navigation{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding: 20px;
    background-color: #2f2f2f;
}

.hamburger {
    font-size: 30px;
    display: none;
}

.nav_footer{
    color: #ffffff;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.nav_footer:hover{
    color: #000000;
}

button {
    background: none;
    border: none;
    color: #ffffff;
}
.active_menu{
    height: 55px;
}

.scrollp{
    text-align: center;
}

.main_btn_2{
    width: 300px;
    height: 50px;
    background: #000000;
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .4);
}
.main_btn_2:hover{
    background: #2f2f2f;
}

.galPhoto{
    cursor: pointer;
}
@keyframes arrow {
    0%{
        transform: translateY(200%);
    }
    50%{
        transform: translateY(-50%);
    }
    100%{
        transform: translate(0);
    }
}


@media only screen and (max-width: 900px) {

    .main_nav{
        position: absolute;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 50px;
        cursor: pointer;
        width: 32px;
        height: 30px;
        border-top: 5px solid #000000;
        background: transparent;
        transition: 0.3s transform linear;
        z-index: 200;
    }

    .hamburger:focus {
        outline: 0;
        background: none;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid #000000;
        transform: translateY(6px);
    }

    .hamburger::after {
        transform: translateY(16px);
        transition: 0.3s transform linear;
    }

    .hamburger.open {
        position: absolute;
        transform: rotate(45deg) translateY(10px);
        border: none;
    }


    .hamburger.open::after {
        border-top: 5px solid #000000;
        transform: rotate(-90deg) translateX(-6px);
    }

    .hamburger.open::before {
        border-top: 5px solid #000000;
    }
    .main_header .main_navigation{
        position: absolute;
        user-select: none;
        justify-content: center;
        z-index: -100;
        margin: auto;
        flex-direction: column;
        width: 100%;
        top: -280px;
        height: 275px;
        background: #ffffff;
        transition: transform .3s ease-in-out;
        border-bottom: 1px solid #1a1a1a;
        padding-top: 75px ;
    }
    .main_header .main_navigation .nav_a{
        margin: auto;
        font-size: 18px;
        padding: 2px 30px;
        width: 100%;
        text-align: center;
    }
    .main_header .main_navigation li{
        display: flex;
        width: 250px;
        margin: auto;
        flex-direction: column;
        justify-content: center;

    }
    .main_header .main_navigation.active{
        transform: translateY(300px);
    }
    
    .main_navigation li .nav_a.first{
        background: #000000;
        color: #ffffff;
    }

    .center_text{
        font-size: 48px;
        left: 20px;
    }

    .main_btn{
        left: 20px;
        top: 420px;
    }

    .main{
        padding: 0;
    }
    .photos{
        padding: 0;
    }
    .photos .photos_row img{
        width: 320px;
    }
    .scroll{
        height: 300px;
    }
    .scrollp{
        font-size: 24px;
    }
    .opinions{
        flex-direction: column;
    }
    .opinionList{
        margin: auto;
        margin-bottom: 20px;
    }

    .page_up{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .footer_navigation{
        height: 135px;
        flex-direction: column;
        text-align: center;
    }
    .nav_footer{
        padding: 0;
    }
    .community{
        width: 100%;
    }

    .main .about_us .about_text{
        text-align: center;
        text-align-last: auto;
    }
    .go_back{
        margin-bottom: 20px;
    }
    .go_back a{
        font-size: 52px;
        text-decoration: none;
        color: #000000;
    }
    .go_back a i{transition: transform .3s ease-in-out;}
    .go_back a i:hover{
        transform: translateY(-10%);
    }
}

.contact_form {
    width: 100%;
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    flex-direction: column;
    
}

.text_send{
    margin-bottom: 20px;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.container_email,
.container_text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.contact_email,.contact_textarea {
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #666;
    width: 300px;
    height: 30px;
    color: #1a1a1a;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 2px;
    border-radius: none;
}
.contact_textarea{
    padding-top: 7px;
}

.contact_textarea{
    resize: none;
    height: 120px;
}

.contact label{
    position: absolute;
    top: 5px;
    left: 3px;
    transition: .5s;
    pointer-events: none;
    user-select: none;
    background: #ffffff;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label
{
    top: -10px;
    font-size: 13px;
}

.contact_email:focus,
.contact_email:not(:placeholder-shown),
.contact_textarea:focus{
    border-bottom: 1px solid #2f2f2f;
}

.contact_send{
    width: 300px;
    height: 40px;
    color: white;
    background: #666666;
    border: 1px solid #666;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
}
.contact_send:hover{
    background: white;
    color: black;  
    cursor: pointer;
}

