@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input,
textarea {
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    height: 75px;
    background: #fff;
    padding: 0 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header h1 {
    font-size: 1.5em;
    font-weight: 400;
}

.header h1 a {
    color: #555;
    text-decoration: none;
    background: #e10600;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    padding: 5px 10px 5px 5px;
    border-radius: 8px;
}

.f1 {
    font-weight: 600;
}

.nav ol {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav ol li {
    margin: 10px;
}

.nav-menu-item {
    color: #333;
    transition: color .3s ease-in-out;
    text-decoration: none;
}

.nav-menu-item:hover {
    color: #000;
    text-decoration: underline;
}

.main-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.participants {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 750px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
    margin-top: 100px;
}

.participants ol {
    counter-reset: li;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 40px;
    padding-left: 30px;
    justify-content: center;
    text-align: center;
}

.participants ol li {
    transition: transform .3s ease-in-out;
}

.participants ol li p {
    display: block;
    padding: 5px;
    background-color: #f0f0f0;
    transition: background .3s ease-in-out;
    position: relative;
}

.participants ol li:hover {
    transform: translateX(6px);
    cursor: pointer;
}

.participants ol li p::before {
    content: counter(li);
    counter-increment: li;
    background-color: #ff0700b5;
    color: #fff;
    border-radius: 8px;
    transition: background .3s ease-out;
    position: absolute;
    left: -32px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    height: 30px;
    width: 30px;
    border: 4px solid #fff;
    font-weight: bold;
}

.participants header {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 1.5em;
}

.big-header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 2em;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.big-header a {
    text-decoration: none;
    background: #fff;
    padding: 10px;
    font-size: 0.5em;
    margin-top: 10px;
    border-radius: 4px;
    color: #000;
    transition: all .3s ease-in-out;
}

.big-header h1 a {
    font-size: 2em;
    font-weight: 600;
}

.big-header a:hover {
    background: rgb(228, 228, 228);
    color: #333;
}

.big-header::after {
    content: '';
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.footer {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    width: 300px;
    height: 30px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px 0;
    outline: none;
    padding-left: 10px;
    font-size: 1em;
}

.teams-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.teams-table-tr {
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 5px;
    height: 50px;
    border-collapse: separate;
    font-weight: 300;
    font-size: 1em;
    transition: background-color .1s ease-in-out;
}

.teams-header {
    height: 60px;
    background-color: #f0f0f0;
}

.teams-table-th {
    color: #000;
    font-size: 1.1em;
    padding: 15px;
    font-weight: 400;
}