@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.center_box{
    width: 900px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 25px 25px 25px -4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

input:invalid {
    box-shadow: none;
  }

.hi{
    font-weight: 300;
    position: absolute;
    color: #828282;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    user-select: none;
}

.left_side,.right_side{
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
}

.left_side img{
    user-select: none;
    pointer-events: none;
}

.formLogin{
    display: flex;
    flex-direction: column;
}

.headerLogin{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    font-style: normal; 
    color: #828282;
    margin-bottom: 15px;
    user-select: none;
    white-space: nowrap;
}

.inputLogin,.inputPass{
    width: 250px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    margin-bottom: 15px;
    padding-left: 8px;
    font-size: 14px;
    color: #666666;
    outline: none;
}

.inputLogin:focus,.inputPass:focus{
    box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.25);
}
.containerInputs{
    position: relative;
}

.labelLogin,.labelPass {
    position: absolute;
    top: 11px;
    left: 8px;
    transition: .5s;
    pointer-events: none;
    user-select: none;
    color: #828282;
    font-size: 14px;
}

.inputLogin:focus + .labelLogin,
.inputLogin:not(:placeholder-shown) + .labelLogin,
.inputPass:focus + .labelPass,
.inputPass:not(:placeholder-shown) + .labelPass
{
    transform: translateY(-20px) translateX(-9px) scale(.8);
    background-color: #FFFFFF;
}
.inputPass:focus + .labelPass,
.inputPass:not(:placeholder-shown) + .labelPass{
    transform: translateY(-20px) translateX(-5px) scale(.8);
}

.showPass{
    position: absolute;
    top: 10px;
    right: 14px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
}

.showPass img{
    width: 100%;
    transition: transform .3s ease-in-out;
}

.showPass img:hover{
    transform: scale(1.1);
}

.error_container{
    margin-bottom: 15px;
}

.badLogin{
    color: #EA2A2A;
}

.remember_pass{
    display: block;
    position: relative;
    padding-left: 25px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 12px;
    width: 120px;
    user-select: none;
    color: #C9C9C9;
    transition: all .3s ease-in-out;
}

.checkboxRememberPass{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkBoxCustom{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #C9C9C9;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
    border-radius: 2px;
    transition: background-color .3s ease-in-out;
}

.remember_pass:hover{
    color: #666;
}

.remember_pass input:checked ~ .checkBoxCustom{
    background-color: #C9C9C9;
}

.remember_pass .remeberMeText{
    color: #b9b9b9;
}

.checkBoxCustom::after {
    position: absolute;
    left: 5px;
    top: 1px;
    content: '';
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    display: none;
    transform: rotate(45deg);
  }

.remember_pass input:checked ~ .checkBoxCustom::after{
    display: block;
}

.inputSubmit{
    width: 250px;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 200;
    border: none;
    background-color: #E85353;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 15px;
    transition: all .3s ease-in-out;
}

.inputSubmit:hover{
    background-color: #EA2A2A;
    box-shadow: 1px 1px 10px -4px rgba(0, 0, 0, 0.25);
}

.btnForgetPass{
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    text-decoration: none;
    color: #929292;
    margin-top: 15px;
    user-select: none;
}
.btnForgetPass .btnForgetPassSpan{
    font-weight: 300;
}

.btnForgetPass:hover{
    text-decoration: underline;
}

.modal{
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal .modalForgetPass{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    box-shadow: 25px 25px 25px -4px rgba(0, 0, 0, 0.25);
    animation: test 1s both ease-in-out;
}

@keyframes test{
    from{
        transform: translateY(-350%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

.hideModal{
    opacity: 0;
    visibility: hidden;
    display: none;
}

.btnClose{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000000;
    border: 0;
    font-size: 32px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.btnClose:hover{
    color: #666666;
}

.passText{
    font-size: 22px;
    color: #828282;
    margin-bottom: 15px;
    font-weight: 300;
    user-select: none;
}

.inputsModal{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.inputEmail,.inputSend{
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C9C9C9;
    margin-bottom: 15px;
    padding-left: 8px;
    font-size: 14px;
    color: #666666;
    border-right: none;
    outline: none;
}

.inputEmail:focus{
    border-color: #000000;
}

.inputSend{
    width: 100px;
    background: #E85353;
    padding-left: 0px;
    color: #FFFFFF;
    border: 1px solid #E85353;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.inputSend:hover{
    background: transparent;
    color: #666666;
}


@media only screen and (max-width: 900px) {
    body {
        background-image: none;
        background-color: #FFFFFF;
      }
    .hi{
        display: none;
    }
    input{
        filter: none;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        opacity: 1;
        outline: 0;
    }
    .center_box{
          width: 100%;
          height: auto;
          border-radius: 0;
          flex-direction: column;
          box-shadow: none;
    }
    .left_side,.right_side{
          width: 100%;
          flex-direction: column;
    }
    .left_side img{
          width: 80%;
          max-width: 350px;
          margin-bottom: 15px;
    }
    .modal .modalForgetPass{
        width: 100%;
        border-radius: 0px;
        padding: 20px;
    }
    .passText{
        font-size: 18px;
        text-align: center;
    }
    .inputEmail{
        width: 80%;
    }
    .btnClose{
        right: 7px;
        top: 7px;
    }
}