.footer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232946;
    color: #fffffe;
    font-size: 18px;
}

.footerLogo{
    height: 60%;
    filter: contrast(200%);
}