@media only screen and (max-width: 950px) {

body{
    overflow-x: hidden;
}

.headerBar{
    position: absolute;
}

.nav{
    flex-direction: column;
    background: #fff;
    width: 100%;
    align-items: stretch;
    text-align: center;
    margin-top: -420px;
    transition: margin-top .5s ease-in-out;
    padding: 20px;
}

.nav--Btn{
    display: block;
    width: 100%;
    transition: background-color .3s ease-in-out;
}

.nav--Btn:hover{
    background-color: #f7f7f7;
    color: auto;
}

.nav--Btn:focus{
    background-color: #f7f7f7;
}

.nav--Btn::after{
    display: none;
}

.nav.open{
    margin-top: 380px;
}

.logoImg{
    position: absolute;
    left: 25px;
    top: 25px;
}

.menuBtn{
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 9999;
    transition: transform .3s ease-in-out;
    overflow: hidden;
}
.hamburger{
    display: flex;
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    border: transparent;
    justify-content: end;
    cursor: pointer;
    outline: none;
}
.hamburger::after,.hamburger::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.hamburger::after{
    transform: translateY(16px);
}
.hamburger::before{
    transform: translateY(-16px);
}

.menuBtn.active .hamburger{
    background: transparent;
    transform: translateX(-50px);
}

.menuBtn.active .hamburger::after{
    transform: rotate(45deg) translate(35px, -35px);
    visibility: visible;
}

.menuBtn.active .hamburger::before{
    transform: rotate(-45deg) translate(35px, 35px);
    visibility: visible;
}


.header .main--text{
    text-align: center;
    font-size: 42px;
}
.header .low--text{
    width: auto;
    font-size: 16px;
}

.logoImgScrolled{
    top: 0px;
}

.headerBarScrolled{
    height: 125px;
}
.logoImgScrolled{
    transform: none;
}
.nav--BtnScrolled{
    transform: none;
}

.bar--first{
    padding: 0;
}

.right--img-box{
    width: 90%;
    max-width: 500px;
    height: auto;
}

.big--header .big--header-text{
    font-size: 32px;
}

.big--header-text2{
    font-size: 42px;
}

.low--header-text2{
    font-size: 26px;
}

.link1{
    font-size: 15px;
}

.linkAdress i{
    font-size: 30px;
}

.left-box{
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box p{
    font-size: 24px;
}

.footer_links{
    flex-direction: column;
}
  
}

@media only screen and (max-width: 550px) {

    .content--title{
        font-size: 32px;
    }

    .big--header .big--header-text{
        font-size: 24px;
        padding: 0;
    }


}

@media only screen and (max-width: 950px) {

    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {

        .headerBar{
            position: absolute;
            min-height: 125px;
            height: auto;
        }

        .hamburger::after {
            transform: translateY(10px);
        }

    }

}