@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,600;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.content {
  width: 100%;
}

.hamburger, .menuBtn {
  display: none;
}

.big--header {
  width: 100%;
  height: 380px;
  background: url("../img/laptopMin.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 10px;
  margin: 100px 0px 0px 0px;
}

.big--header .big--header-text {
  color: #fff;
  letter-spacing: 0.18em;
  font-weight: 600;
  font-size: 64px;
  z-index: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.big--header-mail {
  background: url("../img/laptopMail.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  flex-direction: column;
  line-height: 0px;
}

.big--header-text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 110px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  z-index: 1;
  text-decoration: none;
}

.low--header-text2 {
  z-index: 1;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  text-decoration: none;
}

.big--header::after, .big--header-mail::after {
  content: "";
  display: block;
  width: 100%;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(26, 26, 26, 0.43);
}

.big--header-mail::after {
  background: rgba(26, 26, 26, 0.85);
}

.bar--first {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  margin-top: 40px;
  padding: 50px;
}

.right-box {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}

.left-box {
  width: 50%;
}

.left-box p {
  font-weight: 300;
  font-size: 32px;
  line-height: 55px;
  letter-spacing: 0.085em;
}

.right--img-box {
  width: 500px;
  height: 350px;
  background: #FFF;
  box-shadow: 0px 1px 12px -3px rgba(107, 107, 107, 0.25);
  padding: 20px;
  border-radius: 5px;
}

.right--img-box img {
  width: 100%;
  height: 100%;
}

.mailto, .phonenumber {
  text-decoration: none;
  color: #3F3D56;
}

.link1 {
  display: flex;
  font-size: 30px;
  align-items: center;
}

.link1 i {
  margin-right: 10px;
}

.linkAdress i {
  font-size: 50px;
}

.arrow-up {
  display: block;
  position: fixed;
  visibility: hidden;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  z-index: 1999;
}

.arrow-up-button {
  width: 50px;
  border: 2px solid #2D2D2D;
  border-radius: 50%;
  height: 50px;
  background: #2D2D2D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: 0;
  transition: all 0.3s;
}

.arrow-up-button:hover {
  cursor: pointer;
  background: #000;
  border: 2px solid #000;
}

.up {
  margin-top: 15px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.hideArrow {
  display: block;
  opacity: 1;
  transition: opacity 750ms ease-in-out;
  animation: slideRight 0.7s both ease-in-out;
}

.opac {
  animation: opacityLow 0.7s both ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(200%);
    visibility: visible;
  }
  50% {
    transform: translateX(-40%);
    visibility: visible;
  }
  100% {
    transform: translate(0);
    visibility: visible;
  }
}
@keyframes opacityLow {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.header {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  background: url("../img/backgroundDarker.jpg") no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerBar {
  width: 100%;
  height: 125px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.nav--list {
  overflow: hidden;
  padding: 0px 25px;
}

.nav--list:nth-of-type(n+4) {
  order: 2;
}

.nav--Btn {
  text-decoration: none;
  color: #343132;
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.nav--Btn::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  position: absolute;
  background-color: #000;
  left: 0px;
  bottom: 0;
  transition: width 0.5s ease-in-out;
}

.nav--Btn:hover::after {
  width: 100%;
}

.nav--Btn:hover {
  color: #000;
}

.logoImg {
  order: 1;
  width: 150px;
  height: 80px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.header .main--text {
  font-size: 52px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.header .low--text {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  width: 740px;
  letter-spacing: 0.04em;
  text-align: center;
}

.btn--check {
  width: 200px;
  height: 40px;
  background-color: #0162A0;
  border: 2px solid #0162A0;
  color: #fff;
  display: flex;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.btn--check:hover {
  background-color: transparent;
}

.btn--check-more:hover {
  border: 2px solid #2D2D2D;
  background-color: #2D2D2D;
}

.content--title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 73px;
  letter-spacing: 0.36em;
  text-align: center;
  color: rgba(22, 27, 39, 0.74);
  padding: 100px 0px 0px 0px;
}

.header-down-arrow {
  position: absolute;
  color: #fff;
  font-size: 48px;
  bottom: 30px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.header-down-arrow:hover {
  transform: translateY(10px);
}

.headerBarScrolled {
  height: 75px;
}

.logoImgScrolled {
  transform: scale(0.7);
}

.nav--BtnScrolled {
  transform: translateY(-25px);
}

.footer {
  width: 100%;
  background: #F4F4F4;
  color: #3F3D56;
  font-size: 18px;
}

.footer_high_bar {
  width: 100%;
  height: 220px;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F3D56;
}

.footer_links {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_low_bar {
  background: #3F3D56;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media only screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }

  .headerBar {
    position: absolute;
  }

  .nav {
    flex-direction: column;
    background: #fff;
    width: 100%;
    align-items: stretch;
    text-align: center;
    margin-top: -420px;
    transition: margin-top 0.5s ease-in-out;
    padding: 20px;
  }

  .nav--Btn {
    display: block;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }

  .nav--Btn:hover {
    background-color: #f7f7f7;
    color: auto;
  }

  .nav--Btn:focus {
    background-color: #f7f7f7;
  }

  .nav--Btn::after {
    display: none;
  }

  .nav.open {
    margin-top: 380px;
  }

  .logoImg {
    position: absolute;
    left: 25px;
    top: 25px;
  }

  .menuBtn {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }

  .hamburger {
    display: flex;
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: transparent;
    justify-content: end;
    cursor: pointer;
    outline: none;
  }

  .hamburger::after, .hamburger::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .hamburger::after {
    transform: translateY(16px);
  }

  .hamburger::before {
    transform: translateY(-16px);
  }

  .menuBtn.active .hamburger {
    background: transparent;
    transform: translateX(-50px);
  }

  .menuBtn.active .hamburger::after {
    transform: rotate(45deg) translate(35px, -35px);
    visibility: visible;
  }

  .menuBtn.active .hamburger::before {
    transform: rotate(-45deg) translate(35px, 35px);
    visibility: visible;
  }

  .header .main--text {
    text-align: center;
    font-size: 42px;
  }

  .header .low--text {
    width: auto;
    font-size: 16px;
  }

  .logoImgScrolled {
    top: 0px;
  }

  .headerBarScrolled {
    height: 125px;
  }

  .logoImgScrolled {
    transform: none;
  }

  .nav--BtnScrolled {
    transform: none;
  }

  .bar--first {
    padding: 0;
  }

  .right--img-box {
    width: 90%;
    max-width: 500px;
    height: auto;
  }

  .big--header .big--header-text {
    font-size: 32px;
  }

  .big--header-text2 {
    font-size: 42px;
  }

  .low--header-text2 {
    font-size: 26px;
  }

  .link1 {
    font-size: 15px;
  }

  .linkAdress i {
    font-size: 30px;
  }

  .left-box {
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-box p {
    font-size: 24px;
  }

  .footer_links {
    flex-direction: column;
  }
}
@media only screen and (max-width: 550px) {
  .content--title {
    font-size: 32px;
  }

  .big--header .big--header-text {
    font-size: 24px;
    padding: 0;
  }
}
@media only screen and (max-width: 950px) {
  @supports (overflow: -webkit-marquee) and (justify-content: inherit) {
    .headerBar {
      position: absolute;
      min-height: 125px;
      height: auto;
    }

    .hamburger::after {
      transform: translateY(10px);
    }
  }
}

/*# sourceMappingURL=style.css.map */
