@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,600;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.content {
  width: 100%;
}

.hamburger {
  display: none;
}

.big--header {
  width: 100%;
  height: 380px;
  background: url("../img/laptop.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 10px;
}

.big--header .big--header-text {
  color: #fff;
  letter-spacing: 0.18em;
  font-weight: 600;
  font-size: 64px;
  z-index: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.big--header-mail {
  background: url("../img/laptopMail.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  flex-direction: column;
  line-height: 0px;
}

.big--header-text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 110px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  z-index: 1;
}

.low--header-text2 {
  z-index: 1;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
}

.big--header::after, .big--header-mail::after {
  content: "";
  display: block;
  width: 100%;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(26, 26, 26, 0.43);
}

.big--header-mail::after {
  background: rgba(26, 26, 26, 0.85);
}

.header {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  background: url("../img/backgroundDarker.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerBar {
  width: 100%;
  height: 125px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navBar .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.nav--list {
  margin-right: 41px;
  overflow: hidden;
}

.nav--Btn {
  text-decoration: none;
  color: #343132;
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.nav--Btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #000;
  left: 0;
  bottom: 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.nav--Btn:hover::after {
  transform: translateX(0);
}

.nav--Btn:hover {
  color: #000;
}

.logoImg {
  width: 150px;
  height: 80px;
  cursor: pointer;
  user-select: none;
  transition: filter 0.3s ease-in-out;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
  vertical-align: middle;
}

.logoImg:hover {
  filter: contrast(150%);
  -webkit-filter: contrast(150%);
}

.header .main--text {
  font-size: 52px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.header .low--text {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  width: 740px;
  letter-spacing: 0.04em;
  text-align: center;
}

.btn--check {
  width: 200px;
  height: 40px;
  background-color: #0162A0;
  border: 2px solid #0162A0;
  color: #fff;
  display: flex;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.btn--check:hover {
  background-color: transparent;
}

.content--title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 73px;
  letter-spacing: 0.36em;
  text-align: center;
  color: rgba(22, 27, 39, 0.74);
}

.header-down-arrow {
  position: absolute;
  color: #fff;
  font-size: 48px;
  bottom: 30px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.header-down-arrow:hover {
  transform: translateY(10px);
}

.footer {
  width: 100%;
  background: #F4F4F4;
  color: #3F3D56;
  font-size: 18px;
}

.footer_high_bar {
  width: 100%;
  height: 220px;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F3D56;
}

.footer_links {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_low_bar {
  background: #3F3D56;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.link1 {
  display: flex;
  font-size: 30px;
  align-items: center;
}

.link1 i {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .headerBar .navBar {
    height: auto;
    position: absolute;
    top: 140px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    transform: translateY(-100%);
  }

  .headerBar .navBar.open {
    display: flex;
    z-index: 1000;
    transform: translateY(0%);
  }

  .headerBar .navBar .nav {
    flex-direction: column;
  }

  .menuBtn {
    position: fixed;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 9999;
  }

  .hamburger {
    display: flex;
    width: 40px;
    height: 6px;
    background: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: transparent;
    justify-content: end;
    cursor: pointer;
  }

  .hamburger::after, .hamburger::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .hamburger::after {
    transform: translateY(16px);
  }

  .hamburger::before {
    transform: translateY(-16px);
  }

  .menuBtn.active .hamburger {
    background: transparent;
    transform: translateX(-50px);
  }

  .menuBtn.active .hamburger::after {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menuBtn.active .hamburger::before {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/*# sourceMappingURL=style.css.map */
