@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #F3F3F3;
    max-height: 100vh;
    overflow: hidden;
}

.panel{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.topBar{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 0px;
}

.logo{
    font-size: 28px;
    color: #A49A9A;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    font-style: normal;
}

.logoColor{
    color: #4D96CA;
}

.right_side{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
    width: 250px;
}

.right_side .userlogo{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
    margin-right: 10px;
    cursor: pointer;
}

.right_side .username{
    margin: 0px 10px;
    font-weight: 300;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

.right_side:hover{
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.062);
}


.right_side .notification{
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}


.right_side .downArrow{
    font-size: 22px;
    cursor: pointer;
}

.logout{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 80px;
    right: 40px;
    top: 70px;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: none;
}

.logout a{
    text-decoration: none;
    color: #666;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .3s ease-in-out;
}

.logout a:hover{
    color: #000000;
}

.show{
    display: flex;
}

.sideBar{
    width: 300px;
    min-height: 100vh;
    background: #FFFFFF;
    padding-top: 120px;
}

.sideBarNav{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navLeft{
    width: 300px;
    height: 75px;
    margin-bottom: 6px;
    transition: background-color .3s ease-in-out;
}

.navLeftBtn{
    text-decoration: none;
    color: #949494;
    font-size: 18px;
    line-height: 29px;
    width: 100%;
    font-weight: normal;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 10px solid #4D96CA;
    padding: 0px 20px;
    user-select: none;
    cursor: pointer;
}

.navLeft:hover{
    background-color: #F0F0F0;
}

.navLeft:active{
    background-color: #dbdbdb;
}

.navLeftBtn i{
    margin-right: 5px;
}

.active{
    background: #F0F0F0;
}

.centerContainer{
    width: 100%;
    padding: 120px 50px;
    
}

.border{
    border-left: 6px solid #4D96CA;
    position: absolute;
    left: 12px;
    width: 6px;
    height: 200px;
}

.centerBoxBig{
    background: #FFFFFF;
    position: relative;
    display: none;
    width: 100%;
    height: 250px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 25px;
}

.usernameWelcome{
    font-weight: normal;
    font-size: 28px;
    line-height: 44px;
}

.usernameBold{
    font-weight: bold; 
}

.time,.weather{
    font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
    font-size: 24px;
}

.weather{
    font-size: 18px;
}

.menuBtn{
    display: none;
}

@media only screen and (max-width: 900px) {

    .logo{
        font-size: 24px;
        z-index: 100;
    }

    .topBar{
        z-index: auto;
    }

    .sideBar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transform: translateX(-110%);
        transition: transform .3s ease-in-out;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.25);
        padding-top: 150px;
        width: 100%;
    }

    .navLeft{
        width: 100%;
    }

    .centerContainer{
        padding: 80px 0px;
    }

    .right_side{
        transform: translateX(-120%);
        position: fixed;
        top: 80px;
        left: 5%;
        z-index: 150;
    }

    .logout{
        z-index: 100;
        left: 5%;
        top: 130px;
    }

    .openSideBar{
        transform: translateX(0%);
    }

    .menuBtn{
        display: flex;
        position: fixed;
        right: 40px;
        top: 5px;
    }

    .menuBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 9999;
      }

      .hamburger {
        display: flex;
        width: 50px;
        height: 6px;
        background: #000000;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        border: transparent;
        justify-content: end;
        cursor: pointer;
      }
    
      .hamburger::after, .hamburger::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background: #000000;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
      }
    
      .hamburger::after {
        transform: translateY(16px);
      }
    
      .hamburger::before {
        transform: translateY(-16px);
      }
    
      .menuBtn.activeMenuBurger .hamburger {
        background: transparent;
        transform: translateX(-50px);
      }
    
      .menuBtn.activeMenuBurger .hamburger::after {
        transform: rotate(45deg) translate(35px, -35px);
      }
    
      .menuBtn.activeMenuBurger .hamburger::before {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }



}
