* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 150vh;
    background: url(https://images.unsplash.com/photo-1449182325215-d517de72c42d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1317&q=80);
    background-size: cover;
}


ul,
ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    letter-spacing: 2px;
    width: 200px;
    text-transform: uppercase;
    padding: 50px;
}

ul a {
    display: block;
    width: 250px;
    text-decoration: none;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid black;
}

ul li a:hover {
    background-color: #c0c0c0;
    transform: translateX(5%);
}

.bok{
    padding-top: 30px;
    width: 350px;
    height: 100%;   
    background: black;
    position: fixed;
    display: flex;
    top: 0;
}

.pasek {
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pas {
    color: white;
    font-size: 30px;
    margin-left: 350px;
}

#test{
    margin-left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1000px;
    font-size: 38px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
}
#test2{
    text-align: center;
    padding-top: 30px;
    
    margin-left: 350px;
}

footer h2{
    text-align: center;
    margin-left: 350px;
    color: white;
}
